.netrwhist
.netrwbook
*.swp
.tags
tags
.tags.lock
.DS_STORE
Session.vim
.metals/
crawl_key
.stamps/

**/fff
**/brogue.desktop
**/bin/rust-analyzer
stow/direnv/.config/direnv/lib/use_asdf.sh

!.config/
