[submodule "3rd/pack/external/opt/editorconfig-vim"]
	path = 3rd/pack/external/opt/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "3rd/pack/external/opt/vim-dirvish"]
	path = 3rd/pack/external/opt/vim-dirvish
	url = git@github.com:justinmk/vim-dirvish.git
[submodule "3rd/pack/external/opt/nvim-lspconfig"]
	path = 3rd/pack/external/opt/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
	ignore = untracked
[submodule "3rd/pack/external/opt/vim-unimpaired"]
	path = 3rd/pack/external/opt/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "3rd/pack/external/opt/vim-eunuch"]
	path = 3rd/pack/external/opt/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "3rd/pack/external/opt/vim-commentary"]
	path = 3rd/pack/external/opt/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "3rd/pack/external/opt/nvim-web-devicons"]
	path = 3rd/pack/external/opt/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
[submodule "3rd/pandoc-letter"]
	path = 3rd/pandoc-letter
	url = git@github.com:benedictdudel/pandoc-letter-din5008.git
[submodule "3rd/pack/external/opt/nvim-luaref"]
	path = 3rd/pack/external/opt/nvim-luaref
	url = git@github.com:milisims/nvim-luaref.git
	ignore = untracked
[submodule "3rd/pack/external/opt/null-ls.nvim"]
	path = 3rd/pack/external/opt/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
[submodule "3rd/pack/external/opt/plenary.nvim"]
	path = 3rd/pack/external/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "3rd/pack/external/opt/nvim-schema-store"]
	path = 3rd/pack/external/opt/nvim-schema-store
	url = https://github.com/b0o/SchemaStore.nvim.git
[submodule "3rd/pack/external/opt/nvim-treesitter"]
	path = 3rd/pack/external/opt/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "3rd/pack/external/opt/nvim-pqf"]
	path = 3rd/pack/external/opt/nvim-pqf
	url = https://gitlab.com/yorickpeterse/nvim-pqf.git
[submodule "3rd/pack/external/opt/vim-endwise"]
	path = 3rd/pack/external/opt/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "3rd/pack/external/opt/vim-capslock"]
	path = 3rd/pack/external/opt/vim-capslock
	url = git@github.com:tpope/vim-capslock.git
[submodule "3rd/pack/external/opt/vim-obsession"]
	path = 3rd/pack/external/opt/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "3rd/pack/external/opt/vim-projectionist"]
	path = 3rd/pack/external/opt/vim-projectionist
	url = git@github.com:tpope/vim-projectionist.git
[submodule "3rd/pack/external/opt/vim-abolish"]
	path = 3rd/pack/external/opt/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "3rd/pack/external/opt/vim-apathy"]
	path = 3rd/pack/external/opt/vim-apathy
	url = git@github.com:tpope/vim-apathy.git
[submodule "3rd/pack/external/opt/vim-dispatch"]
	path = 3rd/pack/external/opt/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "3rd/pack/external/opt/vim-surround"]
	path = 3rd/pack/external/opt/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "3rd/pack/external/opt/nvim-treesitter-textobjects"]
	path = 3rd/pack/external/opt/nvim-treesitter-textobjects
	url = git@github.com:nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "3rd/pack/external/opt/nvim-treesitter-refactor"]
	path = 3rd/pack/external/opt/nvim-treesitter-refactor
	url = git@github.com:nvim-treesitter/nvim-treesitter-refactor.git
[submodule "3rd/pack/external/opt/nvim-treesitter-commentstring"]
	path = 3rd/pack/external/opt/nvim-treesitter-commentstring
	url = git@github.com:JoosepAlviste/nvim-ts-context-commentstring.git
[submodule "3rd/pack/external/opt/nvim-treesitter-rainbow"]
	path = 3rd/pack/external/opt/nvim-treesitter-rainbow
	url = git@github.com:p00f/nvim-ts-rainbow.git
