[submodule "stow/nvim/.config/nvim/pack/external/opt/editorconfig-vim"]
	path = 3rd/pack/external/opt/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "stow/nvim/.config/nvim/pack/external/opt/vim-dirvish"]
	path = 3rd/pack/external/opt/vim-dirvish
	url = git@github.com:justinmk/vim-dirvish.git
[submodule "stow/nvim/.config/nvim/pack/external/opt/nvim-lspconfig"]
	path = 3rd/pack/external/opt/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "stow/nvim/.config/nvim/pack/external/opt/vim-unimpaired"]
	path = 3rd/pack/external/opt/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "stow/nvim/.config/nvim/pack/external/opt/vim-eunuch"]
	path = 3rd/pack/external/opt/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "stow/nvim/.config/nvim/pack/external/opt/nvim-treesitter"]
	path = 3rd/pack/external/opt/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "stow/nvim/.config/nvim/pack/external/opt/vim-commentary"]
	path = 3rd/pack/external/opt/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "stow/nvim/.config/nvim/pack/external/opt/nvim-web-devicons"]
	path = 3rd/pack/external/opt/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
[submodule "3rd/pandoc-letter"]
	path = 3rd/pandoc-letter
	url = git@github.com:benedictdudel/pandoc-letter-din5008.git
[submodule "stow/nvim/.config/nvim/pack/external/opt/nvim-lsp-ts-utils"]
	path = 3rd/pack/external/opt/nvim-lsp-ts-utils
	url = git@github.com:jose-elias-alvarez/nvim-lsp-ts-utils.git
	branch = main
