BasedOnStyle: LLVM
ColumnLimit: 100
UseTab: AlignWithSpaces
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8

IndentGotoLabels: true
SortIncludes: Never

ReflowComments: false
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeTernaryOperators: true
BreakStringLiterals: false
AlignAfterOpenBracket: AlwaysBreak
SpacesInContainerLiterals: true

PointerAlignment: Right
AlignArrayOfStructures: Right
AlignOperands: AlignAfterOperator
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse

ForEachMacros: [foreach_word,foreach_line,foreach_token]
