BasedOnStyle: LLVM
IndentWidth: 8
ContinuationIndentWidth: 8
UseTab: AlignWithSpaces
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeTernaryOperators: true
IndentGotoLabels: true
ReflowComments: false
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
