BasedOnStyle: LLVM
ColumnLimit: 100
UseTab: AlignWithSpaces
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8

IndentGotoLabels: true
SortIncludes: Never

ReflowComments: false
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeTernaryOperators: true
BreakStringLiterals: false
AlignAfterOpenBracket: AlwaysBreak

PointerAlignment: Right
AlignArrayOfStructures: None
AlignOperands: AlignAfterOperator
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
