[Desktop Entry]
Type=Application

Name=Dungeon Crawl Stone Soup
Exec=/usr/games/crawl
Terminal=true
Icon=/home/niko/.local/share/crawl/icon.png
Categories=Game;AdventureGame;
