[Desktop Entry]
Type=Application

Name=Trunk: Dungeon Crawl
Exec=/home/nikosteinhoff/.local/bin/crawl -rc /home/nikosteinhoff/.config/crawl/crawlrc
Terminal=true
Icon=/home/nikosteinhoff/.local/share/crawl/icon.png
Categories=Game;AdventureGame;
