[Desktop Entry]
Type=Application

Name=Online: Dungeon Crawl
Exec=ssh -i /home/nikosteinhoff/.local/share/crawl/crawl_key -p 23 terminal@underhound.eu
Terminal=true
Icon=/home/nikosteinhoff/.local/share/crawl/icon.png
Categories=Game;AdventureGame;
