[Desktop Entry]
Type=Application

Name=Trunk: Dungeon Crawl
Exec=/usr/local/bin/crawl
Terminal=true
Icon=/home/niko/.crawl/icon.png
Categories=Game;AdventureGame;
