[Desktop Entry]
Type=Application

Name=Online: Dungeon Crawl
Exec=ssh -i /home/niko/.local/share/crawl/cao_key -p 23 terminal@underhound.eu
Terminal=true
Icon=/home/niko/.crawl/icon.png
Categories=Game;AdventureGame;
